/* -------------------------------------------------
  Large Screen. 
---------------------------------------------------*/

@media (min-width: 1367px) and (max-width: 1920px) {


}


/* -------------------------------------------------
  Laptop Screen 
---------------------------------------------------*/

@media (min-width: 1170px) and (max-width: 1366px) {
    .container {
        width: 1200px
    }

}


/* -------------------------------------------------
  Old Desktop
---------------------------------------------------*/

@media (min-width: 992px) and (max-width: 1169px) {
    .container {
        width: 970px
    }
.promis-content p {
    width: 520px;

}

}


/* -------------------------------------------------
  Tablet Screen 
---------------------------------------------------*/

@media (min-width: 768px) and (max-width: 991px) {
    .container {
        width: 750px
    }
.promis-content {
    width: 600px;
}


}


/* -------------------------------------------------
  Small Mobile
---------------------------------------------------*/

@media (max-width: 767px) {
    .container {
        width: 300px
    }

   .promis-content {
    width: 80%;
}

.single-promis h3 {
    font-size: 18px;
}
.promis-content{
    font-size: 13px;
}

.promis-heading h2 {
    font-size: 35px;
}


}


/* -------------------------------------------------
  Large Mobile :480px. 
---------------------------------------------------*/

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container {
        width: 450px
    }


}