
body{margin: 0;
	padding: 0;
	background-color: #eff1f5 ;
	 font-family: 'Poppins', sans-serif;
	 font-size: 15px;
	 color: #666566;
	 
	}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    margin-top: 0px;
}

@import url('https://fonts.googleapis.com/css?family=Poppins|Quicksand:500,700');

.promis-heading{
	padding: 50px 0;
}

.promis-heading h2{
	font-size: 45px;
	color: #686868;


}
.page-title-link{
	margin: 0;
	padding: 0;
	list-style: none;
}
.page-title-link li{
	display: inline-block;
	position: relative;
}
.page-title-link li a {
	text-decoration: none;
	font-size: 16px;
	color: #27c671;
	line-height: 24px;
	padding: 0 5px;
}

.page-title-link li:after {
    position: absolute;
    content: "/";
    right: -6px;
    text-align: center;
    color: rgba(104, 104, 104, 0.5);
    opacity: 8.8;
    top: 2px;
}
.page-title-link li:last-child:after{
	display: none;
}
.page-title-link li.active a{
	color: rgba(104, 104, 104, 0.5);
	opacity: 8.8;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    padding: 50px 0;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.04);

}

.flex-container h3{
	font-size: 25px;
	font-weight: bold;
	color: #5c5c5c;
	margin-bottom: 14px;
	color: #666566;
}
.flex-container p{
	width: 70%;
	text-align: center;

}
.promis-icon img{
	height: 90px;
	margin-bottom: 20px;

}

